{
    "name": "keycloak_openid_auth", 
    "login": "true", 
    "challenge": "false", 
    "kind": "OpenIDIdentityProvider", 
    "clientID": "{{ keycloak_details.id }}", 
    "clientSecret": "{{ keycloak_details.secret }}",
    "mappingMethod": "claim",
    "claims": {
        "id": ["sub"],
        "preferredUsername": ["preferredUsername"],
        "name": ["name"],
        "email": ["email"]
    },
    "urls": {
        "authorize": "https://login.{{ hosted_zone }}/realms/{{ safe_instance_name }}/protocol/openid-connect/auth", 
        "token": "https://login.{{ hosted_zone }}/realms/{{ safe_instance_name }}/protocol/openid-connect/token"
    }
}