{
    "kind": "OpenIDIdentityProvider", 
    "name": "keycloak_openid_auth_{{ safe_instance_name }}", 
    "login": "true", 
    "challenge": "false",
    "clientID": "client_{{ safe_instance_name }}",
    "clientSecret": "{{ keycloak_details.secret }}",
    "extraScopes": ["email", "profile"],
    "claims": {
        "id": ["sub"],
        "preferredUsername": ["preferredUsername"],
        "name": ["name"],
        "email": ["email"]
    },
    "urls": {
        "authorize": "https://login.{{ hosted_zone }}/auth/realms/{{ safe_instance_name }}/protocol/openid-connect/auth",
        "token": "https://login.{{ hosted_zone }}/auth/realms/{{ safe_instance_name }}/protocol/openid-connect/token",
        "userInfo": "https://login.{{ hosted_zone }}/auth/realms/{{ safe_instance_name }}/protocol/openid-connect/userinfo"
    }
}