{
  "Version": "1",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "ec2:AttachVolume",
        "ec2:DetachVolume",
        "ec2:CreateVolume",
        "ec2:DeleteVolume"
      ],
      "Resource": "*",
      "Condition": [
        "StringEquals": {
          "ec2:ResourceTag/instance": "{{ instance_name }}",
          "ec2:ResourceTag/ebs-allow": "true"
        }
      ]
    }
  ]
}