---
Version: 1
Statement:
  - Effect: Allow
    Principal:
      Service: "ec2.amazonaws.com"
    Action:
      - "ec2:Describe"
      - "ec2:DescribeInstances"
      - "ec2:DescribeImages"
      - "ec2:DescribeKeyPairs"
      - "ec2:DescribeSecurityGroups"
      - "ec2:DescribeAvailabilityZones"
    Condition:
      - StringEquals:
          "ec2:ResourceTag/instance": "{{ instance_name }}"
